.cache/clangd/index
.cache/clangd/index
.cache/clangd/index
.cache/clangd/index/main.c.90BEF4DE7ACEC465.idx
.cache/clangd/index/isola.h.DFCF71FE0B4A919A.idx
.cache/clangd/index/isola.h.DFCF71FE0B4A919A.idx
