.cache/clangd/index
.cache/clangd/index
.cache/clangd/index
.cache/clangd/index/main.c.90BEF4DE7ACEC465.idx
.cache/clangd/index/isola.h.DFCF71FE0B4A919A.idx
.cache/clangd/index/isola.h.DFCF71FE0B4A919A.idx
isola/isola.o
isola/isola.o.json
logic/bitmenu.o.json
logic/bitmenu.o
render/bitfont.o
render/bitfont.o.json
render/digitfps.o
render/digitfps.o.json
scene/mainmenu.o.json
scene/mainmenu.o
input.o
input.o.json
main.o
main.o.json
timing.o
timing.o.json
isola_example
scene/mainmenu_logic.o.json
scene/mainmenu_logic.o
scene/mainmenu_render.o
scene/mainmenu_render.o.json
